<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js">
 <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Wesley Duff's Assessment for Health Catalyst</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/lib/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="~/lib/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="~/lib/bootswatch/yeti/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/dist/styles.css" />
    <script src="~/lib/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body ng-controller="RootController" >
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <loader name="mySpinner" show="showLoader"></loader>

    <div class="row">
        <nav id="sidebar" class="hidden-xs col-md-3">
            <img src="~/img/wes_duff.jpg" alt="headshot" class="headshot" />
            <span id="username">Wes Duff</span>
            <div class="links row">
                <a class="col-sm-4 col-md-12" target="_blank" href="https://www.linkedin.com/in/wesley-duff-34640bb">
                    <img src="~/img/linkedIn.png" alt="Linkedin" /> <span>LinkedIn</span>
                </a>
                <a class="col-sm-4 col-md-12" target="_blank" href="https://github.com/wesleyduff">
                    <img src="~/img/github.png" alt="github" /> <span>gitHub</span>
                </a>
                <a class="col-sm-4 col-md-12" target="_blank" href="http://stackoverflow.com/users/376350/wes-duff">
                    <img src="~/img/stackOverflow.jpg" alt="Stack Overflow" /> <span>stackOverflow</span>
                </a>

            </div>
        </nav>

        <section id="wrapper" ng-cloak class="col-md-9">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <a asp-controller="App" asp-action="Index" class="navbar-brand">Wesley Duff's Health Catalyst Test</a>
                </div>
            </nav>
            <section id="main" class="container-fluid">
                @RenderBody()
            </section>
            <footer id="footer" class="container-fluid">
                <div class="navbar navbar-inverse navbar-fixed-bottom">
                    <h4 class="text-center text-info">&copy; 2016 Wes Duff.</h4>
                </div>
            </footer>
        </section>
    </div>
   

    <div class="modal-backdrop fade in" ng-if="showLoader"></div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    @RenderSection("scripts", false)
    <script type="text/javascript" src="~/lib/requirejs/require.js" data-main="app_config"></script>
</body>

</html>