/* site.css */

/*----- MIXINS */
.vertical-align(@translatePos) {
  position: relative;
  top: @translatePos;
  -webkit-transform: translateY(@translatePos);
  -ms-transform: translateY(@translatePos);
  transform: translateY(@translatePos);
}

.headshot {
  max-width: 50px;
  border: 1px solid #222;
  padding: 3px;
}

.menu {
  font-size: 12px;

   li {
    list-style-type: none;
    
        &.active {
          font-weight: bold;
        }
    
        a {
          color: #eee;
        }
    }
}

#sidebar {
  background: #2a2c36;
  color: #eee;
  position: fixed;
  height: 100%;
  width: 250px;
  overflow: hidden;
  left: 0;
  margin: 0;
  -moz-transition: left ease .25s;
  -o-transition: left ease .25s;
  -webkit-transition: left ease .25s;
  transition: left ease .25s;


  .hide-sidebar {
    left: -250px;
    -moz-transition: left ease .25s;
    -o-transition: left ease .25s;
    -webkit-transition: left ease .25s;
    transition: left ease .25s;
  }
}

#wrapper {
  margin: 0 0 0 250px;
  -moz-transition: margin-left ease .25s;
  -o-transition: margin-left ease .25s;
  -webkit-transition: margin-left ease .25s;
  transition: margin-left ease .25s;


  .hide-sidebar {
    margin-left: 0;
    -moz-transition: margin-left ease .25s;
    -o-transition: margin-left ease .25s;
    -webkit-transition: margin-left ease .25s;
    transition: margin-left ease .25s;
  }
}

/* --- StYLES ---- */
section {
    padding: 10px;
    position: relative;
    height: 100%;

    &#people_list {

        > div {
            padding: 15px 0 15px 20px;
            background: #b3d4fc; /* Old browsers */
            background: -moz-linear-gradient(left, #b3d4fc 0%, #b0d9f4 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(left, #b3d4fc 0%,#b0d9f4 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right, #b3d4fc 0%,#b0d9f4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3d4fc', endColorstr='#b0d9f4',GradientType=1 ); /* IE6-9 */
            input {
                padding-left: 10px;
                margin-left: 10px;
                border-radius: 5px;
                box-sizing: border-box;
            }
        }

        header {
            margin-bottom:31px;
        }

        ul {
            padding: 0;

            li {
                background-color: #eeecea;

                figure {
                    text-align: center;

                    b {
                        display: block;
                        font-size: 1.5em;
                    }
                }
            }
        }

        article {

            li {
                display: inline-block;
                font-size: 1.3em;
                padding: 10px;
                position:relative;
                min-height:80px;

                &:hover {
                    cursor: pointer;

                    i {
                        font-size: 3.5em;
                        color: #008cba;
                        top: -45px;
                        -moz-transition: font-size .5s, color .5s, top .2s;
                        -o-transition: font-size .5s, color .5s, top .2s;
                        -webkit-transition: font-size .5s, color .5s, top .2s;
                        transition: font-size .5s, color .5s, top .2s;
                    }
                }

                i {
                    color:#008cba;
                    text-align: center;
                    font-size: 2em;
                    position: absolute;
                    width: 100%;
                    top: -25px;
                    left: inherit;
                }
            }
        }
    }
}

.picture_large {
    border:1px solid #AAA;
    padding:3px;
    border-radius:65px;
}

/*  --- ANIMATIONS */

/* KeyFrames */
@-webkit-keyframes icon-jiggle {
    from {top:0; color:black; font-size:2em;}
    to {top:-10px;color:darkslateblue; font-size:2.6em;}
}

@-moz-keyframes icon-jiggle {
     from {top:0; color:black; font-size:2em;}
    to {top:-10px;color:darkslateblue; font-size:2.6em;}
}

@keyframes icon-jiggle {
     from {top:0; color:black; font-size:2em;}
    to {top:-10px;color:darkslateblue; font-size:2.6em;}
}

/* ---- Media Queries --- */

@media(min-width:34em){
    article {

        li {
            text-align:center;
            left:0;
        }
    }
}
@media(min-width:48em){
     article {

        li {
            text-align:center;
            left:0;
        }
    }
}
@media(min-width:62em){
    article {

        section {
            .vertical-align(85%);

            i {
                left:0;
            }
        }
    }
}
@media(min-width:75em){
     article {

        section {
            .vertical-align(85%);

            i {
                left:0;
            }
        }
    }
}