@model Asset1.ViewModels.PersonViewModel
@{
    ViewBag.Title = "Manage Person";
}
@section scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
<section id="manage_person">
        <h1>Manage Person</h1>

        <form method="post" class="row">
            <div class="col-xs-12" asp-validation-summary="ModelOnly"></div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label asp-for="FirstName"></label>
                    <input class="form-control" asp-for="FirstName" />
                    <span class="text-muted" asp-validation-for="FirstName"></span>
                </div>

                <div class="form-group">
                    <label asp-for="LastName"></label>
                    <input class="form-control" asp-for="LastName" />
                    <span class="text-muted" asp-validation-for="LastName"></span>
                </div>


                <div>
                    <a asp-controller="People" asp-action="Manage" class="btn btn-default">Cancel</a>
                    <input class="btn btn-primary" type="submit" value="Manage Person"/>
                </div>
            </div>
            
        </form>
    
</section>